In [1]:
#Binary Class Classification

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("C:/Users/panku/Downloads/Titanic-Dataset.csv")

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.isnull().sum() #total no of missing values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
x = df[["Pclass","Sex","Age"]]
y = df.Survived

In [7]:
x.isnull().sum()

Pclass      0
Sex         0
Age       177
dtype: int64

In [8]:
#Converting string data to numerixcal data

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
gen = le.fit_transform(x.Sex)

In [10]:
x["Gender"] = gen
x.drop('Sex', axis=1, inplace=True)

In [11]:
x.Age.fillna(x.Age.mean(), inplace=True)

In [12]:
x.isnull().sum()

Pclass    0
Age       0
Gender    0
dtype: int64

In [21]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
train_x,train_y,test_x,test_y = train_test_split(x,y,test_size=0.2)

In [27]:
len(train_x)

712

In [29]:
len(test_x)

712

In [31]:
from sklearn.linear_model import LogisticRegression

In [33]:
model = LogisticRegression()

In [37]:
model.fit(train_x, train_y['target_column'])

KeyError: 'target_column'

# Assistant
The error is occurring because the `score` method is being called on a logistic regression model that has not been trained (fitted) with data using the `fit` method.

To fix this error, you need to first train the logistic regression model using the `fit` method before calling the `score` method.

Would you like me to provide the corrected code?

# Assistant
The error is occurring because the `score` method is being called on a logistic regression model that has not been trained (fitted) with data using the `fit` method.

To fix this error, you need to first train the logistic regression model using the `fit` method before calling the `score` method.

Would you like me to provide the corrected code?

In [39]:
model.score(test_x,test_y)

NotFittedError: This LogisticRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.